 <p>
  Welcome interviewee! Glad you could make it here :)
</p>
<p>
  Instructions:
</p>
<ul>
<p>*Unit test is not required*</p>
  <ol>
    <li>Create a new component called <b>interviewee </b> and send the data from the data.service.ts to the interviewee component</li>
    <li>Only display <b>name</b> and <b>description</b> on the html of the child component</li>
    <li>Display name and favorite color of the developers, but ONLY whos favorite color is <b>red</b>
    </li>
  </ol>
  <p>BONUS QUESTION (Not required, we will explain this problem in person)
  </p>
  <li>Display the name, company, and favorite food to corresponding developer AND change the company for all
    developers to: <b>Danaher</b></li>
</ul>

<h5>DEVELOPERS WHO LIKE RED: </h5>
<h4>Developers and their favorite foods: </h4>
<div>

</div>


